extends ../base.pug

block content
  h3 Projects

  a(href="/projects/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add project

  each project in projects
    .media
      a(href=`/projects/${project.id}`)
        //.media-left
        //    img(src=project.imageUrl || "https://placekitten.com/g/128/192")
        .media-body
          h4= project.title

          //p= project.author

  if !projects.length
    p No projects found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More
